.container {
    opacity: 1;
    transition: all 0.3s;
}

.custom-input {
    color: #fff;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 3px solid #fff;
    font-size: 3.5em;
    text-align: center;
    text-shadow: 1px 1px black;
  }

.custom-label {
    font-size: 3.5em;
    text-shadow: 1px 1px black;
}

.custom-mt {
    margin-top: 300px;
}

.validation-message {
    margin-top: 20px;
}

#greeting {
    font-size: 3.5em;
    margin: 0;
}

#name-section {
    opacity: 1;
}

#email-section,
#password-section {
    opacity: 0;
}

#email-section,
#password-section,
#name-section {
    transition: all 0.5s;
}