
.custom-input {
    color: #fff;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 3px solid #fff;
    font-size: 3.5em;
    text-align: center;
    text-shadow: 1px 1px black;
  }

.custom-label {
    font-size: 3.5em;
    text-shadow: 1px 1px black;
}

.custom-mt {
    margin-top: 300px;
}

.validation-message {
    margin-top: 20px;
}

#greeting {
    font-size: 3.5em;
    text-shadow: 1px 1px black;
}