* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
}

.bgImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    min-width: 150vh;
    max-width: 100vw;
    z-index: -1;
    filter: blur(1px);
}

.text-time {
    font-size: 10vh; 
}

.time {
    margin: 0 auto;
}

.hide {
    display: none;
}

.custom-input {
    color: #fff;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 3px solid #fff;
    font-size: 3.5em;
    text-align: center;
    text-shadow: 1px 1px black;
  }

.custom-label {
    font-size: 3.5em;
    text-shadow: 1px 1px black;
}

.custom-mt {
    margin-top: 300px;
}

.validation-message {
    margin-top: 20px;
}

#greeting {
    font-size: 3.5em;
    text-shadow: 1px 1px black;
}




