* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100%;
}

.bgImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100vh;
    min-width: 100vw;
    max-width: 150vh;
    z-index: -1;
}

/*
===================================================================
Main Container Grid
===================================================================
*/
.main-container {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr 2fr 0.75fr 0.375fr 0.375fr;
    grid-template-areas: "link link weather weather" 
                        "clock clock clock clock" 
                        "focus focus focus focus" 
                        "settings quote quote todo" 
                        "settings quote quote todo";
    width: 100vw;
    height: 98.6vh;
    justify-content: center;
    align-content: center;
}

.container-clock {
    grid-area: clock;
    justify-self: center;
    align-self: center;
}

.container-focus {
    grid-area: focus;
    justify-self: center;
    align-self: center;
}

.container-settings {
    grid-area: settings;
    justify-self: start;
    align-self: end;

    display: flex;
    gap: 1.2rem;
    flex-direction: row;
    align-items: center;
}

.container-quote {
    grid-area: quote;
    justify-self: center;
    align-self: end;
}

.container-todo {
    grid-area: todo;
    justify-self: end;
    align-self: end;
}

.container-clock,
.container-weather,
.container-todo {
    margin-right: 1.2rem;
}

.container-clock,
.container-link,
.container-settings {
    margin-left: 1.2rem;
}

.container-settings,
.container-todo {
    margin-bottom: 0.5rem;
}


/*
===================================================================
Typography
===================================================================
*/
.clock {
    font-size: 23vh;
}

.quote-div, 
.quote-person-div {
    text-align: center;
}

.random-quote{
    font-size: 1.125rem;
}

.quote-person {
    font-size: 0.875rem;
}

.img-desc {
    font-size: 0.8125rem;
}

.photographer {
    font-size: 0.6875rem;
}

.todo-button {
    font-size: 1rem;
}

.quote-person,
.photographer,
.fa-gear,
.todo-button {
    color: rgba(255, 255, 255, 0.6);
}


/*
===================================================================
Transitions
===================================================================
*/
.hide {
    display: none;
}

.fa-gear:hover,
.todo-button:hover {
    color: white;
    cursor: pointer;
}


/*
===================================================================
Media Queries
===================================================================
*/
@media screen and (max-width: 768px) {
    
.main-container {
    grid-template-areas: "link link weather weather" 
                        "clock clock clock clock" 
                        "focus focus focus focus" 
                        "quote quote quote quote" 
                        "settings settings todo todo";
}
}